$bg-color-light:#FFFFFF;
$bg-color-dark: #000000;
$btn-color-active-light: #f0f2ff;
$btn-color-hover-light: #f1f5f9;
$btn-color-active-dark: #000c45;
$btn-color-hover-dark: #0f172a;
$font-color-active: #0020c3;
$font-color-hover: #0f172a;
$main-font-color: #b9cce6;

.sidebar{
    background-color: $bg-color-dark;
    width: 5em;
    height: 50em;
    border-radius: 1em;
    border: 4px solid #29303a;
    transition: all 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $main-font-color;
    &.opened{
        width: 15em;
    }
}

.sidebar-top-elem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    width: 50px;
    height: 50px;
}

.open-btn{
    position: absolute;
    left: 228px;
    border-radius: 2em;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
}

.logo-text{
    font-size: 24px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.5s linear;
}

.nav-link{
    height: 3em;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    gap: 10px;
    &:hover{
        background-color: $font-color-hover;
    }
}

@keyframes disappearAnimation{
    0%{
      opacity: 1;
      display: inline;
    }
    50%{
        display: none;
    }
    100%{
      opacity: 0;
      display: none;
    }
  }

